
 @font-face {
    font-family: 'Luminari';
    src: url(media/Luminari-Regular.woff) format('woff'); 
    }


body {
  font-family: 'Luminari', monospace, sans-serif; 

  background-image: url('media/rightside.jpeg');
  width: 1024px;
  background-attachment: fixed;
  background-size: 1472px 1954px;
  background-position: center;
  cursor: url('media/apdtcur.png') 15 7.5, auto;

}

a.apgif {
  width: auto;
  height: auto;
  justify-content: center;
  padding:20px;


}

a.apgif img {
  filter: drop-shadow(0 0 11px rgb(62, 4, 4));
}

a.apgif:hover img {
  filter: drop-shadow(0 0 10px rgb(210, 101, 101));
}

p.nav{
  margin:7px; font-size:22px;
}

ul.fekete{
  font-size:20px;
  list-style-type: '—○ ' ;
   color:black;
}

.kozep {

  gap: 10px;
  padding: 10px;
  height: max-content;
  top: 300px;
  z-index: 3
}




.navcucc{	
	margin:15px;
	background-color:/* rgba(94, 105, 98, 0.6 )*/ rgba(101, 110, 100, 0.9);
	border-style: double;
  border-color:#000;
	align-items:center;
  padding: 5px;
  font-size: 20;
  border-width: 5px;
  color:rgb(237, 232, 223);
}




.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items:center;
  width: 964;
  min-height:max-content ;

}


.h1 {
  color: #4c5d58;
  text-align: center;
  font-size: 85px;
  text-decoration: underline;
  padding:15px;
  -webkit-text-stroke: 3px black;
}

.honapbox {
  width: 600px;
  height: 300px;
  background-image: url('media/red600.jpg');
  background-repeat: no-repeat;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 30px auto;
  border: 5px solid #ac9f91
    /* #938472*/
    ;
  BORDER-radius: 8px;
}

.honapnev {
  color: black;
  text-align: center;
  font-weight: 900;
  margin: 27px auto;
  font-size: 30px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin: 40px auto 0px;
}

.napok {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 9px;
  text-align: center;
  margin: 0px 10px 10px 10px;
  padding: 1rem 0;
}

.kurvajunius {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 7px;
  row-gap: 4px;
  margin: 0px 10px 7px 10px;
  text-align: center;
  padding: 0.7rem 0;
}



.szerda {
  display: inline-block;
  color: #f0e1ed;
  text-shadow: 0 0 5px #972974, 0 0 10px #972974, 0 0 20px #972974, 0 0 40px #972974, 0 0 80px #972974;
  position: relative;

}

.szerda:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  cursor: url('media/apdtcur.png') 15 7.5, auto;
}

.szerda:hover {
  color: #fff;
  text-shadow: 0 0 5px #da6fb8, 0 0 8px #da6fb8, 0 0 10px #da6fb8, 0 0 20px #da6fb8,
    0 0 40px #da6fb8, 0 0 60px #da6fb8, 0 0 80px #da6fb8;
}

.gyules {
  display: inline-block;
  color: #000;
  text-shadow: 0 0 2px #972974, 0 0 7px #972974, 0 0 13px #972974;
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  text-shadow: none;
  width: 80px;
  height: 12px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border: 1px solid white;
  padding: 5px 0;
  position: absolute;
  z-index: 4;
  bottom: 120%;
  left: 65%;
  margin-left: -50px;
  opacity: 1;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

a.kozgyules {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px #972974, 0 0 5px #972974, 0 0 8px #972974, 0 0 10px #972974, 0 0 20px #972974, 0 0 30px #972974;
  font-weight: bold;
  position: relative;
}

a.kozgyules:hover .tooltiptext {
  color: pink;
  visibility: visible;
  opacity: 1;
  cursor: url('media/apdtcur.png') 15 7.5, auto;
}

a.biztos {
  color: #f0e1ed;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 5px #c0610f, 0 0 8px #c0610f, 0 0 10px #c0610f, 0 0 20px #c0610f,
    0 0 40px #c0610f, 0 0 60px #c0610f, 0 0 80px #c0610f;
  position: relative;
}

a.biztos:hover .tooltiptext {
  visibility: visible !important;
  opacity: 1 !important;
  cursor: url('media/apdtcur.png') 15 7.5, auto;
}

a.biztos:hover {
  color: #fff;
} 


a.nembiztos {
  display: inline-block;
  color: #000;
  text-decoration: none;
  text-shadow: 0 0 5px #0f88c0, 0 0 8px #0f88c0, 0 0 10px #0f88c0, 0 0 20px #0f88c0,
    0 0 40px #0f88c0, 0 0 60px #0f88c0, 0 0 80px #0f88c0;
  position: relative;
}

a.nembiztos:hover {
  color: #fff;
}

a.nembiztos:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  border:2px solid white;
}
p.alja{
 font-size:20px;
}

details {
      background:none;
      margin-bottom: 8px;
    }

    summary {
      cursor: pointer;
      font-weight: bold;
    }

    details[open] {
      background: none;
    }










@media screen and (max-width: 768px)
{
/* body{background-image: url(media/apdtlogo1.PNG);} */
  p.nav{
  margin:7px; font-size:32px;
}
ul.fekete{
  font-size:30px;
}
.navcucc{	font-size:28px;}
.container { grid-template-columns: "auto 1fr auto ";}
.h1 {font-size: 115px;}
.honapbox {
  width: 700px;
  height: 400px;
background-image: url('media/red700.png');
  background-repeat: no-repeat;}
p.alja{font-size:22px;}

}






html,
body {
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  /* overflow-x: hidden !important; */
}

.container {
  min-height: 100vh !important;
}